<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Basic Bitch</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script>
        function loadHomePage(){
        $.ajax({
            url:"/app.py",
            type:"POST",
            dataType:"json",
            contentType: 'application/json, charset=utf-8',
            success: function (data){
            $(success).replaceWith(data)
            }
        });
        }
    </script>
</head>
<div id="success">
    {{x}}
</div>
<div class ="body">
<body>
    <div class="title">
        <h1>Have you ever wondered if you are a basic bitch?</h1>
    </div>
    <div class="about">
       <a href="../static/about.html" target="_blank">About the website</a>
    </div>
    <div class="main">
        <div class ="text">
<strong>Please enter your spotify</strong> <em>username</em> <strong> below:</strong>                 
</div>
    <form action="/app.py">
      <input type="text" placeholder="Username..." name="username">
      <button type="submit">Submit</button>
    </form>
    </div>
</body>
</div>
</html>